@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --cor-hover: #272727;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.pagina {
  display: flex;
  justify-content: center;
  padding: 0%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #091929;
  padding: 10vh 10vw;
  width: 100vw;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: var(--fonte-secundaria);
  font-size: 14px;
  box-sizing: border-box;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 40vh 10vw;
  width: 100%;
  font-size: 10vh;
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
  background-color: #0056b3;
}

#menu-redirect-button {
  display: none;
  justify-content: center;
}

#menu-btn {
  width: 100vw;
  font-size: 4vh;
  height: 50vh;
}

.redirect-btn {
  width: 45%;
  padding: 10vh 0;
  font-size: 2vh;
}

#buttons-container {
  display: flex;
  justify-content: center;
  gap: 1vw;
  padding-top: 5px;
}

#page {
  display: none;
}

#webcam-container {
  display: flex;
  justify-content: center;
}

#label-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.label {
  background-color: #34495e;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.highlight {
  color: #ff6347;
  font-weight: bold;
}
